* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

@media (max-width: 700px) {
    html {
        font-size: 3vw;
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 100%;
        padding-top: 2rem;
        padding-left: 2rem;
    }

    .left-menu {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    #logo {
        padding-bottom: 0.9rem;
        color: #2A2B40;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .icon {
        color: #2A2B40;
        padding-bottom: 0.5rem;
    }

    #myLinks {
        display: none;
    }

    p a {
        display: block;
        color: #2A2B40;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 1.3rem;
        font-weight: normal;
    }

    .right-menu {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-right: 1.42rem;
        position: absolute;
        top: 0.8rem;
        left: 18rem;
    }

    .right-menu p {
        margin: 0.6rem 0;
    } 

    #register {
        padding-left: 0.7rem;
    }

    #register a {
        font-size: 1rem;
        text-align: center;
        padding: 0.8rem 1.6rem;
        border: 2px solid #ef3737;
        border-radius: 1.71rem;  
        margin-left: 0.85rem; 
    }

    hr {
        border: 0;
        height: 0;
        box-shadow: 0 0 0.2rem 0.1rem rgb(235, 3, 3);
    }

    .content {
        padding: 1rem 2rem;
    }

    .content p {
        font-family: 'Raleway', sans-serif;
        font-size: 1.3rem;
        font-weight: normal;
        line-height: 2.8rem;
        padding-bottom: 1rem;
    }

    .leaderboards {
        display: flex; 
        flex-direction: column;
        width: 100%;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
    }

    .leaderboards button {
        font-family: 'Raleway', sans-serif;
        font-size: 1.2rem;
        font-weight: normal;
        flex: 1 1 0;   
        cursor: pointer;
        color:#ffffff;
        padding: 10px 4px;
        border: 1px solid #1f1a13;
        border-radius: 0.5rem;
        background-color: #f79b9b;
        text-shadow: 2px 2px 4px #000000;
    }

    .leaderboards button:hover {
        background-color: #ef3737;
    }

    #exportCSV, #exportJSON {
        border-top: none;
    }

    .search-and-image p {
        margin-bottom: 0;
    }

    .search-container {
        width: 17.5rem; 
        height: auto;
    }

    .search-container input[type=text] {
        padding: 0.5rem 1.3rem;
        margin-top: 0.4rem;
        font-size: 1.1rem;
        border: 0.1rem solid #ef3737;
        font-family: 'Raleway', sans-serif;
        color: #2A2B40;
        border-radius: 0.4rem;
    }

    .search-container button {
        float: right;
        padding: 0.56rem 0.66rem;
        margin-top: 0.4rem;
        background: #f79b9b;
        font-size: 0.95rem;
        border: 0.1rem solid #ef3737;
        cursor: pointer;
        border-radius: 0.4rem;
    }

    .search-and-image {
        display: flex;
        flex-direction: column;
    }

    #smoothie {
        width: 27rem;
        height: auto;
        padding-top: 2.2rem;
    } 
}

@media (min-width: 701px){
    html {
        font-size: 1.2vw;
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1rem 3.33rem;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1.2rem;
    }

    .left-menu, .right-menu {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    #logo {
        color: #2A2B40;
        font-family: 'Poppins', sans-serif;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .icon {
        display: none;
    }

    #myLinks {
        margin-left: 5rem;
    }

    .active {
        text-decoration: underline;
        text-decoration-color: #2A2B40;
    }

    p {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    p a {
        display: block;
        padding: 0 0.8rem 0 2rem;
        color: #2A2B40;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 1.2rem;
        font-weight: normal;
    }

    #register a {
        font-size: 1.1rem;
        text-align: center;
        padding: 0.9rem 2.5rem;
        border: 3px solid #ef3737;
        border-radius: 18.9rem;    
        margin-left: 2.08rem;
        margin-right: 3rem;
    }

    hr {
        border: 0;
        height: 0;
        box-shadow: 0 0 0.2rem 0.13rem rgb(235, 3, 3);
    }

    .content {
        padding: 1rem 4.33rem;
    }

    .content p {
        font-family: 'Raleway', sans-serif;
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 2.3rem;
        padding-bottom: 1rem;
    }

    .leaderboards {
        display: flex; 
        width: 100%;
        flex-wrap: nowrap;
        padding-bottom: 5rem;
    }

    .leaderboards button {
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        flex: 1 1 0;   
        cursor: pointer;
        color:#ffffff;
        padding: 10px 4px;
        border: 1px solid #1f1a13;
        border-radius: 0.3rem;
        background-color: #f79b9b;
        text-shadow: 1px 1px 2px #000000;
    }

    .leaderboards button:hover {
        background-color: #ef3737;
    }

    .search-container {
        width: 16.7rem; 
        height: auto;
    }

    .search-container input[type=text] {
        padding: 0.5rem 1.3rem;
        margin-top: 0.4rem;
        font-size: 0.93rem;
        border: 0.1rem solid #ef3737;
        font-family: 'Raleway', sans-serif;
        color: #2A2B40;
        border-radius: 0.4rem;
    }

    input:focus {
        outline: none;
    }

    .search-container button {
        float: right;
        padding: 0.5rem 0.6rem;
        margin-top: 0.4rem;
        margin-right: 0.8rem;
        background: #f79b9b;
        font-size: 0.95rem;
        border: 0.1rem solid #ef3737;
        cursor: pointer;
        border-radius: 0.4rem;
    }

    .search-and-image {
        display: flex;
        justify-content: space-between;
    }

    #smoothie {
        width: 25rem;
        height: auto;
    }
}
